body{
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 16%;

    background-color: rgb(163, 161, 161);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#header_info{
    width: 35%;
    height: 100%;
    background-color: rgb(132, 132, 132);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#img_secundary{
    width: 15%;
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(109, 108, 108);
}

#profession{
    width: 40%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(109, 108, 108);
}

#btns_header{
    width: 35%;
    height: 100%;
    background-color: rgb(132, 132, 132);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_header{
    width: 30%;
    height: 35%;
    background-color: rgb(109, 108, 108);
}

main{
    width: 100%;
    height: 75%;
    background-color: rgb(163, 161, 161);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#big_img_p{
    width: 50%;
    height: 100%;
    background-color: rgb(132, 132, 132);
}

#img_main{
    width: 100%;
    height: 100%;
    background-color: rgb(109, 108, 108);
    display: flex;
    align-items: center;
    justify-content: center;
}
    

#profile_erick{
    width: 45%;
    height: 100%;   
    background-color: rgb(132, 132, 132);
    display: flex;
    flex-direction: column;
}

.margin_0{
    margin: 0;
    padding: 0;
}




