@import url(./mainpackman.css);
@import url(./img_main.css);
@import url(./profile_erick.css);
@import url(./info_name.css);

main {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margin_0 {
    margin: 0;
    padding: 0;
}

