footer{
    
    width: 98%;
    height: 9%;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.btn_footer{
    width: 5%;
    height: 100%;   
    border-radius: 100vh;
    font-size: 7vh;
    background-color: transparent;
    border: none;
}

#icon_linkedIn{
    color: var(--cor_branca);
}

#icon_GitHub{
    color: var(--cor_branca);
}

#icon_Instagram{
    color: var(--cor_branca);
}

@media (max-width: 820px){
    footer{
        padding-top: 3%;
        justify-content: center;
    }
    .btn_footer{
        display: flex;
        width: auto;
    }
}

@media (max-width: 490px){
}