@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

body{
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}

.color_dark_blue{
    background-color: #373461;
}

:root{
    --cor_branca:#ffffff;

    --font_p: "Inria Sans";
    
    --font_s: "Inria Serif";

    --font_t: "Oswald";
}

